
canvas {
    position:fixed;
    outline: solid;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 0px;
}

h1 {
    position:fixed;
    width:500px;
    text-align: right;
    margin:0;
    font-size: 90px;
    left:70%;
    top:20%;
    z-index: 1;
    color:white;
}

h2 {
    visibility: hidden;
    position:fixed;
    width:100px;
    height: 100%;
    text-align: left;
    margin:0;
    font-size: 90px;
    left:1%;
    top:35%;
    z-index: 1;
    color:white;
}

h3 {
    transition: 2s;
    visibility: hidden;
    position:fixed;
    width:800px;
    height: 100%;
    text-align: left;
    margin:0;
    font-size: 32px;
    left:54%;
    top:6%;
    z-index: 1;
    color:white;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}